{% extends "layout.twig" %}

{% block content %}

<main class="template-main">

	<div class="main-content wrapper">
		<div class="responsivecolumns columns-two-66-34">
			<div class="column columns-two-left">
				{{zone('main')|raw}}
			</div>
			<div id="div-form" class="column columns-two-right">
			</div>
		</div>
	</div>

</main>

{% endblock %}