{% extends "layout.twig" %}

{% block content %}

<section class="template-feature wrapper">
	{{widget('feature', 'template-feature', {"header": "profile", "strapline":"profile", "buttonText":"Contact us","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
</section>

<main class="template-main">
	
	<div class="main-content wrapper">
		<div class="responsivecolumns columns-two-66-34">
			<div class="column columns-two-left">
				{{zone('main')|raw}}
			</div>
			<div id="div-form" class="column columns-two-right">
			</div>
		</div>
	</div>
	
</main>

{% endblock %}