<footer class="template-footer">

	<div class="wrapper">
		{{widget('companyname', 'footer-companyname', {"business": "profile"})|raw}}
		{{widget('companyaddress', 'footer-companyaddress', {})|raw}}
	</div>
	
</footer>